.App {
  text-align: center;
}
.App-header {
  background: linear-gradient(-35deg, #be593a, #be2962, #1f91bb, #19a081);
  background-size: 400% 400%;
  animation: gradientBG 40s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(29, 29, 29);
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  10% {
    background-position: 20% 50%;
  }
  20% {
    background-position: 40% 50%;
  }
  30% {
    background-position: 60% 50%;
  }
  40% {
    background-position: 80% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  60% {
    background-position: 80% 50%;
  }
  70% {
    background-position: 60% 50%;
  }
  80% {
    background-position: 40% 50%;
  }
  90% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App-header * {
  color: white;
}

.App-header h1 {
  font-size: 1.4em;
}

.App-header h2 {
  font-size: 1em;
}

.App-link {
  color: #09d3ac;
}

#minha_foto {
  border-radius: 6px;
  width: auto;
  height: 9em;
}
